<div class="home-container">
    <!-- Logo + título -->
    <header class="header">
      <img src="assets/logo_ranking_tenis_512.png" alt="Logo Ranking de Tênis NP" class="logo" />
      <h1>Ranking de Tênis NP</h1>
    </header>

    <button mat-raised-button color="primary" [routerLink]="['/jogadores']">
        Jogadores
      </button>

      <button mat-raised-button color="primary" [routerLink]="['/ranking-history']">
        Histórico de Ciclos do Ranking
      </button>

      <button mat-raised-button color="primary" [routerLink]="['/head-to-head']">
        Head-to-Head
      </button>

      <button mat-raised-button color="primary" (click)="abrirPagina('https://drive.google.com/file/d/1hmsqmIIRPxeXQEtUcHBCvZycAFMI4roL/view')">
         Regulamento
      </button>
 
      <button mat-raised-button color="primary" (click)="abrirPagina('https://docs.google.com/spreadsheets/d/1owxV0YTm_SKMNC5XfjwF80GE8UtLHqx7EaCavLpGq4g')">
         Simulador de resultados
      </button>

    <!-- Banner apoiadores (carrossel simples) -->
    <section class="banner">
      <div class="carousel">
        <div class="carousel-track">
          <img *ngFor="let supporter of supporters" [src]="supporter" alt="Apoiador" />
        </div>
      </div>
    </section>

    <!-- <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS2NBbDFEr9yyveTcrKUXtpVeaayAiYIkeGbX2BoapbRAMd8n-F6uttALXKzdVObNSdzy9a2_u1PqAQ/pubhtml?gid=1406767684&amp;single=true&amp;widget=true&amp;headers=false"></iframe> -->
  
    <!-- Grupos -->
    <section class="grupos">
      <div class="grupo-card" *ngFor="let grupo of grupos">
        <h2>{{ grupo.nome }}</h2>
        <div class="actions">
            <button (click)="abrirPagina(grupo.linkTabela)">Tabela</button>
          <button (click)="abrirPagina(grupo.linkFormulario)">Lançar Resultado</button>
        </div>
      </div>
    </section>

    <!-- Rodapé -->
    <footer class="footer">
      <p>© 2025 Ranking de Tênis NP</p>
      <p>
        <a href="mailto:geovani.schneider@gmail.com">Contato</a>
      </p>
    </footer>

  </div>
  