<div class="p-4">

  <!-- Botão voltar -->
  <button mat-button color="primary" class="mb-3" (click)="goHome()">
    &larr; Voltar para Home
  </button>
  
    <h2>Histórico de Rankings</h2>
  
    <div *ngIf="carregando">Carregando...</div>
  
    <table *ngIf="!carregando" mat-table [dataSource]="dados" class="mat-elevation-z8 w-full">
      <!-- Rank -->
      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>
  
      <!-- Ciclo -->
      <ng-container matColumnDef="Ciclo">
        <th mat-header-cell *matHeaderCellDef>Ciclo</th>
        <td mat-cell *matCellDef="let element">{{ element.Ciclo }}</td>
      </ng-container>
  
      <!-- Classe -->
      <ng-container matColumnDef="Classe">
        <th mat-header-cell *matHeaderCellDef>Classe</th>
        <td mat-cell *matCellDef="let element">{{ element.Classe }}</td>
      </ng-container>
  
      <!-- Link -->
      <ng-container matColumnDef="Link">
        <th mat-header-cell *matHeaderCellDef>Link</th>
        <td mat-cell *matCellDef="let element">
          
          <a [href]="element.Link" target="_blank">Abrir</a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['rank', 'Ciclo', 'Classe', 'Link']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['rank', 'Ciclo', 'Classe', 'Link'];"></tr>
    </table>
  </div>
  